
/*MAIN*/

 * {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('/fonts/Roboto-Regular.ttf');
  
  }
  @font-face {
    font-family: 'Roboto-thin';
    src: url('/fonts/Roboto-Thin.ttf');
  }
  @font-face {
    font-family: 'Roboto-bold';
    src: url('/fonts/Roboto-Bold.ttf');
  }
  @font-face {
    font-family: 'Roboto-light' ;
    src: url('/fonts/Roboto-Light.ttf');
  }
  @font-face {
    font-family:'Roboto-medium' ;
    src: url('/fonts/Roboto-Medium.ttf');
  }
  @font-face {
    font-family: 'Shrikhand';
    src: url('/fonts/Shrikhand-Regular.ttf');
  }

body {
    /*background-color: #99E2D0;*/
    font-family: 'Roboto-regular';
}

/*BLOC AND INSIDE BLOC*/

.bloc__content {
    width: 100%;
    background-color: white;
    margin: 0 auto;
}

a {    
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}
a:visited {
    color: inherit;
}

footer {
  padding: 20px 0 31px 35px;
    h5 {
      
      font-family: 'Shrikhand';
      font-size: 1.3em;
      margin: 5px 0 15px 0 ;
    }
    background-color: #353535;
    color: #ffffff;
    ul {
        list-style-type: none;
        li {
          font-family: 'Roboto-medium';
          padding-bottom: 5px;
  
          i {
            padding-right: 5px;
            font-size: 11px;
          }
          a {
            color: #ffffff;
            text-decoration: none;
          }
        }
        li:hover {
          text-decoration: underline;
          cursor: pointer;
        }
    }
  
  }

  @keyframes appear {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes heartcolor {
    0% {
      opacity: 0.3;
      background-image: linear-gradient(
        0deg,
        #9356dc 10%,
        white 20%,
        #ff79da 100%
      );
    }
    20% {
      opacity: 0.4;
      background-image: linear-gradient(
        0deg,
        #9356dc 10%,
        white 40%,
        #ff79da 100%
      );
    }
    50% {
      opacity: 0.6;
      background-image: linear-gradient(
        0deg,
        #9356dc 10%,
        white 60%,
        #ff79da 100%
      );
    }
    70% {
      opacity: 0.8;
      background-image: linear-gradient(
        0deg,
        #9356dc 10%,
        white 80%,
        #ff79da 100%
      );
    }
    100% {
      opacity: 1;
      background-image: linear-gradient(
        0deg,
        #9356dc 10%,
        white 100%,
        #ff79da 100%
      );
    }
  }