
/*FONTS*/

$font-base: 'Shrikhand';
$font-title: 'Roboto-medium';
$font-subtitle:'Roboto-thin';

/*COLORS*/
$firstcolor: #9356DC;
$secondcolor:#FF79DA;
$thirdcolor:#99E2D0;
$bloccolor:#f6f6f6;
$boxshadowcolor:#cfcfcf;
$footercolor:#353535;

/*LOADING SETTINGS*/
$loading-timer:2s;
