@use "_site-base.scss";
@use "_key-frames.scss";
@import "_variables.scss";






body {
  background-color: $bloccolor;
}

header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: white;

  .return {
    position: absolute;
    left: 20px;
    top: -13px;
    max-width: 1440px;
  }

  i {
    margin-top: 33px;
    color: rgb(15, 11, 2);
    font-size: 1.8em;
  }
  h1 {
    font-family: "Shrikhand";
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 0;
    cursor: pointer;

    span {
      display: flex;
    }
  }
}

.cover {
  display: flex;
  justify-content: center;
  .cover_img {
    width: 100%;
    object-fit: cover;
    height: 46vh;
  }
}

/*CONTAINER*/

.container {
  display: flex;
  background-color: $bloccolor;

  .title_restaurant {
    .menu_title {
      font-family: "Shrikhand";

      i.fa-regular.fa-heart {
        padding-left: 25px;
        font-size: 0.9em;
        position: absolute;
        right: 45px;
        top: 31px;
      }
      .fa-heart:active {
        background-image: linear-gradient(90deg, $firstcolor, $secondcolor);
        animation: heartcolor 0.3s ease;
        background-clip: text;
        color: transparent;
        font-weight: bolder; /*le coeur devient violet*/
        cursor: pointer;


      }



    }
  }

  main {
    background-color: $bloccolor;
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    position: relative;
    top: -30px;
    margin-top: 5px;
    padding: 24px 20px 0px 20px;

    section {
      display: block;
      overflow: hidden;
      animation-delay: 3s;
      @for $i from 1 through 9 {
        .bloc_element.menu#{$i} {
          animation: 0.9s appear (0.2s * $i);
        }
      }

      .menu {
        border: 0;

        .menu_title {
          border-bottom: 3px solid $thirdcolor;
          padding-bottom: 5px;
          width: 45px;
          font-family: "Roboto-light";
          font-size: 15px;
          margin-bottom: 20px;
          margin-top: 45px;
          text-transform: uppercase;
        }
        .bloc__content {
          background-color: white;
          border-radius: 1rem; /*changer en px*/
          overflow: hidden;
          margin-bottom: 15px;
          cursor: pointer;
          &__item {
            display: flex;
            overflow: hidden;
            white-space: nowrap; /*Force le texte à rester sur une ligne*/
            text-overflow: ellipsis;
          }

          &__price {
            margin-left: auto;
            font-weight: 900;
            padding: 1rem; /*changer en px*/
            display: flex;
            align-items: flex-end;
          }
          &__details {
            padding: 1rem;
            overflow: hidden;

            h4, p {
              overflow: hidden;
              white-space: nowrap; /*Force le texte à rester sur une ligne*/
              text-overflow: ellipsis;
            }
            h4 {
              font-family: "Roboto-medium";
              font-size: 18px;
              margin-bottom: 5px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            p {
              font-family: "Roboto-light";
              font-size: 16px;
            }
          }
          &__check {
            display: flex;
            justify-content: center;
            align-items: center;
            $button-width: 4rem; /*changer en px*/
            background-color: $thirdcolor;
            margin-right: -1 * $button-width; /*changer en px*/
            width: $button-width;
            border-radius: 0 1rem 1rem 0; /*changer en px*/
            transition: margin-right 0.5s;
            flex-shrink: 0;
            i {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: white;
              aspect-ratio: 1 /1;
              width: 1.5rem;
              border-radius: 1rem;
              color: $thirdcolor;
              font-size: 29px;
            }
          }
          &:hover {
            .bloc__content__check {
              margin-right: 0;
            }
            i {
              animation: quarterspin 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
}

.button__buy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;

  button {
    background-image: linear-gradient(90deg, $firstcolor, $secondcolor);
    border: none;
    border-radius: 38px;
    height: 46px;
    width: 163px;
    /*box-shadow: 4px 5px 6px #0000002E;*/
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;

    .button__title {
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 15px;
    }
  }
  button:hover {
    cursor: pointer;
    transform: translate(0, -6px);
  }
}
